{% extends "base.html.twig" %}

{% block title %}Acteurs{% endblock %}

{% block content %}

<ul>
    {% for director in directors %}
    <li> {{ director.prenom }} {{ director.nom }}</li> 
    {% endfor %}
</ul>

{% endblock %}